.view-context-menu-item {
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
  color: #374151;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.1s;
}

.view-context-menu-item:hover {
  background-color: #F3F4F6;
}

.view-context-menu-item.delete-item {
  color: #EF4444;
}

.view-context-menu-item.delete-item:hover {
  background-color: #FEE2E2;
}

.option-sub-item {
  transition: background-color 0.1s;
}

.option-sub-item:hover {
  background-color: #F3F4F6 !important;
}

.view-tab-item {
  transition: background-color 0.1s ease;
}

.view-tab-item:hover {
  background-color: #F3F4F6;
}
